//make any global styling changes here, above the import statement 

.sticky-footer {
  margin-top: -200px;
}

.footer-image {
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-container {
  margin-bottom: 7rem;
}

.contact-email {
  text-decoration: none;
  font-size: 50pt;
}

.portfolio-main-font {
  font-size: large;
}

.progress-bar-icon {
  font-size: 50pt;
}

.about-picture {
  max-width: 100%;
}

.carousel {
  height: 500px;
  overflow: visible;
  width: 100%;
}

.carousel-label {
  position: relative;
  top: 150px;
  overflow: visible;
}

.sizetest {
  font-size: 80px;
}

@media screen and (max-width: 768px) {
  .sizetest {
    font-size: 40px;
  };
}

@import './scss/custom.scss';